fastapi
uvicorn

sqlalchemy[asyncio]
asyncpg
greenlet

pydantic
python-jose
passlib[bcrypt]
email-validator==2.3.0
PyJWT

altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
bcrypt==5.0.0
cryptography==46.0.7

python-dotenv
httpx
croniter

google-auth
requests
 